ACTION=="change", ENV{SDEV_UA}=="ASYMMETRIC_ACCESS_STATE_CHANGED|REPORTED_LUNS_DATA_HAS_CHANGED", RUN+="/bin/ibm_2145_udev_sched_main.sh '%E{DEVPATH}' %E{SDEV_UA}"